.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
display: flex;

}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg_black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg_grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark color for track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Lighter color for handle */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Lighter color on hover */
  }
  
  